---
---
$pattern: "{{ site.baseurl }}/images/pattern.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$primary: #DABC83;
$secondary: #244460;
$tertiary: #DABCD3;
$light: #FAF7EB;
$dark: #2B2F38;
$white: #FFF;

$white: #FFF;
$red: #FF8B6F;

$html-background-color: $secondary;
$secondary-brand-color: #FFC461;
$font: 'monotype-grotesque', sans-serif;
$alt-font: 'monotype-grotesque-extended', sans-serif;
$heading:  'gastromond', sans-serif;

@mixin heading {
  font-family: $heading;
  font-weight: 400;
  font-style: italic;
}

// Breakpoints
$container: 1000px;
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$small: "(min-width: 450px)";
$medium: "(min-width: 620px)";
$medium-down: "(max-width: 620px)";
$large: "(min-width: 768px)";
$large-down: "(max-width: 768px)";
$mlarge: "(min-width: 992px)";
$xlarge: "(min-width: 1200px)";

@import "elements";
@import "layout";
@import "home";
@import "contact";
@import "about";
@import "forms";
@import "header";
@import "footer";
@import "cloudcannon";
